.spinningAvatar-3RLDX3 {
transform: rotate(270deg);
  -webkit-animation: avatarAnimation-2X9uSI 3s ease infinite;
  animation: avatarAnimation-2X9uSI 3s ease infinite;
}

.imageUploaderInner-IIRaFr {
  display: inline-block;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow background-color .1s .1s;
  transition: -webkit-box-shadow background-color .1s .1s;
  transition: box-shadow background-color .1s .1s;
  transition: box-shadow background-color .1s .1s,-webkit-box-shadow background-color .1s .1s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

img {
-webkit-animation:spin 4s linear infinite;
}

.rotate {
  animation: rotation ease 3s;
}

.linear {
  animation-timing-function: ease;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




/*

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

*/
